{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CONNECTIFY</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'myapp/img/favicon.ico' %}" type="image/x-icon">  
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/animacion.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/nivo-slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/mi-slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light fixed-top barranegra mejora">
    <div class="container">
        <a class="navbar-brand logo" href="{% url 'index' %}">
            <img src="{% static 'myapp/img/LogosFondo Blanco.png' %}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto esp">
                <li class="nav-item colorletrasb"><a class="nav-link" data-scroll href="{% url 'index' %}" id="inicio"><i class="bi bi-send-arrow-up"></i> Inicio</a></li>
                <li class="nav-item colorletrasb"><a class="nav-link" data-scroll href="{% url 'servicios' %}" id="servicios"><i class="bi bi-inboxes-fill"></i></i> Servicios</a></li>
                <li class="nav-item colorletrasb"><a class="nav-link" data-scroll href="{% url 'metricas' %}" id="metricas"><i class="bi bi-graph-up-arrow"></i> Métricas</a></li>
                <li class="nav-item colorletrasb"><a class="nav-link" data-scroll href="{% url 'campañas' %}" id="productos"><i class="bi bi-box-seam-fill"></i> Campañas</a></li>
                <li class="nav-item colorletrasb"><a class="nav-link" data-scroll href="{% url 'contacto' %}" id="contacto"><i class="bi bi-chat-text"></i> Contacto</a></li>
                <div class="mx-5">
                  <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search">
                      <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Encontraras lo que necesitas">
                          <button class="btn btn-outline-success" type="submit">Buscar</button>
                      </span>
                  </form>
              </div>  
              {% if is_authenticated %}
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-person-circle"></i> {{ cliente.nombre }}
              </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'perfil' %}">Ir al perfil</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout_vista' %}">Cerrar sesión</a></li>
                </ul>
              </div>
            
  
              {% else %}
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
              <i class="bi bi-person-circle"></i> Ingresar
              </button>
              {% endif %}          
            </ul>
            
            <!-- REGISTRARA NEUVO USUARIO/ O INGRESAR-->
          

          
        </div>
    </div>
</nav>


 <!-- PopUp ingreso NUEVO -->
 <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'login_vista' %}" method="POST" onsubmit="return validateLoginForm()">
            {% csrf_token %}
            <div class="mb-3">
              <label for="login-correo" class="form-label">Correo:</label>
              <input name="correo" type="email" class="form-control" id="login-correo" required>
            </div>
            <div class="mb-3">
              <label for="login-contraseña" class="form-label">Contraseña:</label>
              <input name="contrasena" type="password" class="form-control" id="login-contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#registrarModal">Registrarse</button>
          </form>
          <div class="mt-3">
            <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#recuperarModal">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

 
<!-- PopUp Registrar NUEVO-->
<div class="modal fade" id="registrarModal" tabindex="-1" aria-labelledby="registrarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrarModalLabel">Registrarse</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="registroForm" method="POST" action=""  onsubmit="return validateRegistroForm()">
          {% csrf_token %}
          <div class="mb-2 row">
            <div class="col">
              <label for="registrar-nombre" class="form-label">Nombre:</label>
              <input name="nombre" type="text" class="form-control" id="registrar-nombre" required>
            </div>
            <div class="col">
              <label for="registrar-apellido" class="form-label">Apellido:</label> 
              <input name="apellido" type="text" class="form-control" id="registrar-apellido" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="registrar-rut" class="form-label">Rut:</label>
            <input name="rut" type="text" class="form-control" id="registrar-rut" placeholder="Ingrese rut sin guión" required>
          </div>
          <div class="mb-3">
            <label for="registrar-correo" class="form-label">Correo electrónico:</label>
            <input name="email" type="email" class="form-control" id="registrar-correo" required>
          </div>
          <div class="mb-3">
            <label for="confirmar-correo" class="form-label">Confirmar dirección de correo:</label>
            <input name="confirmar_email" type="email" class="form-control" id="confirmar-correo" required>
          </div>
          <div class="mb-3">
            <label for="registrar-contraseña" class="form-label">Contraseña:</label>
            <input name="contrasena" type="password" class="form-control" id="registrar-contraseña" required>
          </div>
          <div class="mb-3">
            <label for="confirmar-contraseña" class="form-label">Confirmar contraseña:</label>
            <input name="confirmar_contrasena" type="password" class="form-control" id="confirmar-contraseña" required>
          </div>
          <button type="submit" class="btn btn-primary">Registrarse</button>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal"> Volver</button>
        </form>
      </div>
    </div> 
  </div>
</div>


     <!-- PopUp recuperar con correo NUEVO-->
     <div class="modal fade" id="recuperarModal" tabindex="-1" aria-labelledby="recuperarModalLabel" aria-hidden="true" onsubmit="return validateFormRecuperar()"  >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="recuperarModalLabel">Recuperar contraseña</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action=""  method="POST">
                {% csrf_token %}
                <h6>Ingrese su dirección de correo y revise correos recibidos, considere la bandeja de 'spam'.
                  Si el usuario se encuentra registrado recibirá un email para reestablecer su contraseña.
                </h6>
                <div class="mb-3 mt-4">
  
                  <label for="recuperar-correo" class="form-label">Correo: </label>
                  <input name="email" type="email" class="form-control" id="recuperar-correo" required>
                </div>
  
                <button type="submit" class="btn btn-primary">Enviar</button>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">Volver</button>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#restablecerModal"> Ingreso de código</button>
              </form>
  
            </div>
          </div>
        </div>
      </div> 

      <!--codigo para recuperar contrseña-->
     




      <!-- Modal para mostrar mensajes loggin -->
<div class="modal fade" id="mensajeModal" tabindex="-1" aria-labelledby="mensajeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mensajeModalLabel">Mensaje</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Contenido del mensaje dinámico -->
        {% if mensaje %}
        <p>{{mensaje}}</p>
        {% endif %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


  
    {% block content %}
  
    
  
    <!-- Acá va el contenido dinámico de sus otros html -->
  
  
  
    {% endblock %}
  
</div>
<footer class="text-center text-lg-start text-muted backfooter">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom redes">
        <div class="me-5 d-none d-lg-block">
            <span>También puede comunicarse y seguir nuestras redes sociales:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-google"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-github"></i></a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>CONNECTIFY
                    </h6>
                    <p>
                      ¿Quieres llegar a tus clientes de manera efectiva? En Connectify, te ayudamos a crear 
                      y enviar campañas masivas por correo y SMS para conectar con tu audiencia en el momento justo.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Navegación</h6>
                    <p><a href="#!" class="text-reset">Inicio</a></p>
                    <p><a href="#!" class="text-reset">Productos</a></p>
                    <p><a href="#!" class="text-reset">Reserva hora</a></p>
                    <p><a href="#!" class="text-reset">Nuestros servicio</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Extra</h6>
                    <p><a href="#!" class="text-reset">Quienes somos</a></p>
                    <p><a href="#!" class="text-reset">Terminos y condiciones</a></p>
                    <p><a href="#!" class="text-reset">Obtener ayuda</a></p>
                    <p><a href="#!" class="text-reset">Política de privacidad</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                    <p><i class="fas fa-home me-3"></i> Ignacio carrera pinto 852, Villa alemana</p>
                    <p><i class="fas fa-envelope me-3"></i> info@connectify.cl</p>
                    <p><i class="fas fa-phone me-3"></i> + 56 9 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 56 9 234 567 89</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="">Trio Dinamico</a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>"  -->
<script src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.ui.js'></script>
<script src="{% static 'myapp/js/newpage.js' %}"></script>
<script>
    // MODAL QUE APAREZCA CADA VEZ QUE EXISTA UN MENSAJE QUE MOSTRAR
window.onload = function() {
  var mensaje = "{{ mensaje }}";
  if(mensaje.trim() !== ""){  // Verifica que mensaje no esté vacío después de quitar espacios en blanco
    var myModal = new bootstrap.Modal(document.getElementById('mensajeModal'), {});
    myModal.show();
  }
};

	
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.pack.min.js" integrity="sha512-rwjQKesPaeXWoFNcTVz8rPBqsU06+JhcsudIQfpUiOhxGHqymn9aSJpG7NPu4MZJ7V32Cq4YjT1qV5vVngYA1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>